
@if (ViewBag.Title != null)
{
<h1>Search Result</h1>
<h2>Movie Title: @ViewBag.Title</h2>
<h2>Realease Year: @ViewBag.Year</h2>
<h2>IMDB ID: @ViewBag.ID</h2>
<h2>Type: @ViewBag.Type</h2>
<img src="@ViewBag.Poster" />
}

